APP_ENV=development
API_PREFIX=/v1
MAX_TEXT_LENGTH=2000
MAX_CIRCUIT_QUBITS=8
MAX_CIRCUIT_DEPTH=256
MAX_CIRCUIT_SHOTS=4096
ALLOW_ORIGINS=*
REQUEST_TIMEOUT_SECONDS=5.0
REQUIRE_QISKIT=false
IBM_TOKEN=
IBM_INSTANCE=
IBM_CHANNEL=ibm_quantum
